@charset "utf-8";

/* CSS Document */

/********* Estilos Menús **********/
#nav, #nav li ul, #navTop, #navLeft, #navSocial, #menuRight .menu, #menuRight .menuLight, .menuNavFooter, #navCatalog {
	
  padding:0;
	
  margin:0;
	
  list-style:none;
	

}



#nav a, #navTop a, #navLeft a, #navSocial a, #menuRight .menu, #menuRight .menuLight, .menuNavFooter a, #navCatalog a {
	
  display:block;
	

}



/***** Menú Principal *****/
#nav li {
	
  float:left;
	
  width:auto;
	

}



#nav a {
	
  display: block;
	
  font-size: 15px;
	
  color: #FFF;
	
  line-height: 40px;
	
  padding-right: 12px;
	
  padding-left: 12px;
	

}


#nav a:hover {
	
  color: #FFF;
	

}



#nav li .separator {
	
  display: block;
	
  font-size: 15px;
	
  color: #FFF;
	
  line-height: 40px;
	
  padding-right: 12px;
	
  padding-left: 12px;
	

}


#nav li:hover .separator {
	
  color: #CCC;
	

}



/*** Menú Principal segundo nivel ***/
#nav li ul {
	
  position: absolute;
	
  left: -999em;
	
  z-index:99;
	

}



#nav li ul.menuLast {
	
  margin-left:-155px;
	

}


#nav li ul li {
	
  float:none;
	
  width: auto;
	

}


#nav li ul li a {
	
  display:block;
	
  background-image: url(../images/navA1.png);
	
  background-repeat: repeat-x;
	
  background-position: 0px 0px;
	
  font-size: 12px;
	
  line-height: 30px;
	
  color: #FFF;
	
  padding-right: 10px;
	
  padding-left: 10px;
	

}


#nav li ul li a:hover {
	
  background-position: 0px -30px;
	

}



#nav li:hover ul, #nav li.sfhover ul {
	
  left: auto;
	

}


#navTop {
	

}



/*Estilo para el UL de contactanos*/

li.item-534 ul{
	
  margin-left:-155px !important;
	
  
}



/***** Menú Top *****/
#navTop li {
	
  float:left;
	

}



#navTop a {
	
  display: block;
	
  color: #545454;
	
  font-size: 14px;
	
  line-height: 20px;
	
  padding-right: 10px;
	
  padding-left: 10px;
	
  border-left-width: 1px;
	
  border-left-style: solid;
	
  border-left-color: #B1B1B1;
	
  width: auto;
	

}


#navTop a:hover {
	
  color: #FF0000;
	

}


#navTop a.first {
	
  border-left-style: none;
	

}


#menuRight .menu {
	
  background-repeat: repeat;
	
  background-color: #cb6762;
	

}



/***** Menú Right *****/
#menuRight .menu {
	

}



#menuRight .menu li {
	
  width:300px;
	

}



#menuRight .menu a {
	
  display: block;
	
  height:33px;
	
  line-height: 14px;
	
  padding-left: 20px;
	
  padding-top:7px;
	
  background-repeat: no-repeat;
	
  background-position: 0px 0px;
	
  background-image: url(../../images/navRightA02.png);
	
  font-size: 12px;
	

}


#menuRight .menu a:hover {
	
  background-position: 0px -40px;
	
  color: #FFF!important;
	

}




/***** Menú Right Light Index 2nd Level*****/
#menuRight .menuLight li {
	
  width:300px;
	
  min-height:30px;
	

}



#menuRight .menuLight a {
	
  display: block;
	
  line-height: 30px;
	
  padding-left: 20px;
	
  background-repeat: no-repeat;
	
  background-position: 10px 10px;
	
  background-image: url(../images/backgrounds/arrowBlue.png);
	
  font-size: 12px;
	
  color:#717171!important;
	
  background-color: #F5F5F5;
	
  border-bottom-width: 1px;
	
  border-bottom-style: solid;
	
  border-bottom-color: #CCC;
	

}


#menuRight .menuLight a:hover {
	  
  color:#006DA8!important;
	

}



/***** Menú Social *****/
#navSocial {
	
  padding-left:40px;
	

}



#navSocial li {
	
  float:left;
	
  padding-left:20px;
	
  padding-right:20px;
	

}



#navSocial a {
	
  width:35px;
	
  height:35px;
	
  display: block;
	
  background-repeat: no-repeat;
	

}



#navSocial a:hover {
	
  display: block;
	
  background-position: 0px -35px;
	

}


#navSocial a.facebook {
	
  background-image: url(../images/backgrounds/icons-facebook.png);
	

}


#navSocial a.twitter {
	
  background-image: url(../images/backgrounds/icons-twitter.png);
	

}


#navSocial a.rss {
	
  background-image: url(../images/backgrounds/icons-rss.png);
	

}




/***** Menú Footer *****/

.menuFooter {
	
  padding-bottom: 0px;
	

}



.menuFooter h3 {
	
  font-size: 13px;
	
  color: #000000;
	
  /* color: #00456C;
	 */
  text-decoration: underline;
	
  text-transform: uppercase;
	
  margin: 0px;
	
  padding-top: 0px;
	
  padding-right: 0px;
	
  padding-bottom: 10px;
	
  padding-left: 0px;
	

}



.menuNavFooter li {
	
  width:220px;
	
  height: 25px;
	

}



.menuNavFooter a {
	
  display: block;
	
  font-size: 11px;
	
  color: #7F7F7F;
	
  text-decoration: none;
	
  line-height: 20px;
	
  background-image: url(../images/backgrounds/dotRed.png);
	
  /* background-image: url(../images/backgrounds/dotGreen.png);
	 */
  background-repeat: no-repeat;
	
  background-position: left 7px;
	
  padding-left: 10px;
	

}


.menuNavFooter a:hover {
	
  color: #ACACAC;
	
  text-decoration: underline;
	

}


/*Menú de navegación en blog*/
.pagination ul{
	
  height:20px;
	
  
}


.pagination li{
	
  float:left;
	
  width:50px;
	
  text-decoration:none;
	
  color:#0088CA;
	
  list-style:none;
	
  
}


.pagination li a{
	
  color:#0095DA;
	
  font-weight:bold;
	
  font-size:15px;
	
  
}


ul.pagenav li{
	
  list-style:none;
	
  
}


ul.pagenav li a{
	
  color:#0095DA;
	
  
}


p.counter{
	
  display:none;
	
  
}

#logo_pos{
position: absolute; 
top: 45px;	
}