@charset "utf-8";

/* CSS Document */

body {
	
  font-family: Arial, Helvetica, sans-serif;
	
  font-size: 14px;
  text-align:justify;
	
  line-height: 1.4em;
	
  color: #333;
	

}



#issste p, #search p{
	
  margin:0 !important;
	
  padding:0 !important;
	
  
}



/*** Text ***/
h1 {
	
  font-size: 24px;
	
  color: #002F48;
	
  font-weight: normal;
	
  line-height: 32px;
	
  margin: 0px;
	
  padding-top: 0px;
	
  padding-right: 0px;
	
  padding-bottom: 10px;
	
  padding-left: 0px;
	

}


h2 {
	
  color: #4A4A4A;
	
  font-size: 18px;
	
  font-weight: normal;
	
  line-height: 24px;
	
  padding-bottom: 10px;
	

}



h3 {
	
  font-weight: bold;
	
  color:#666;
	
  font-size: 15px;
	
  padding-top: 0px;
	
  padding-right: 0px;
	
  padding-bottom: 15px;
	
  padding-left: 0px;
	
  line-height: 20px;
	
  text-transform: none;
	
  margin: 0px;
	

}



h4 {
	
  font-weight: bold;
	
  color: #666;
	
  font-size: 14px;
	
  padding-left: 0px;
	
  text-transform: none;
	
  line-height: 20px;
	
  margin: 0px;
	
  padding-top: 0px;
	
  padding-right: 0px;
	
  padding-bottom: 15px;
	

}



#text blanco {
	
  font-weight: bold;
	
  color: #FFF;
	
  font-size: 14px;
	
  padding-left: 0px;
	
  text-transform: none;
	
  line-height: 20px;
	
  margin: 0px;
	
  padding-top: 0px;
	
  padding-right: 0px;
	
  padding-bottom: 15px;
	

}



p {
text-align:justify;
font-size:12px;
 margin: 0px;
padding: 0px 0px 15px;
line-height: 20px;

	

}



#text verde {
	
  color: #373;
	

}



#text rojo {
	
  color: #FE0F36

}



#text rojo-24ptos {
	
  color: #FE0F36;
	
  font-size: 24px;
	

}



#text cafe {
	
  color: #663300

}



#text dorado {
	
  color: #CC9933

}



#text verde-oscuro {
	
  color: #003300;
	
  font-size: 20px

}



#text uva {
	
  color: #6600FF

}



#text peke {
	
  font-weight: bold;
	
  color: #ABABAB;
	
  font-size: 10px;
	

}



/*** Headers ***/
# text h3 {
	
  font-size: 15px;
	
  line-height: 40px;
	

}


h3.green, #contentLeft01 h3, #contentLeft02 h3, #newsRight h3{
	
  background-image: url(../images/backgrounds/h3Gray.png);
	
  /* background-image: url(../images/backgrounds/h3Green.png);
	 */

}


h3.blue, #issstemergencias h3, #galleryIndexContainer h3 {
	
  background-image: url(../images/backgrounds/h3Gray.png);
	
  /* background-image: url(../images/backgrounds/h3Blue.png);
	*/

}


h3.gray, #programs h3 {
	
  background-image: url(../images/backgrounds/h3Gray.png);
	

}



h4 {
	
  font-size: 12px;
	
  line-height: 30px;
	

}


h4.green {
	
  background-image: url(../images/backgrounds/h4Green.png);
	

}

strong {
	font-size:14px;
	font-weight: bold;
}

li{
	text-align:justify;
font-size:12px;
 margin: 0px;
padding: 0px 0px 15px;
line-height: 20px;
}