.SRE {
	color: #018754;
	border-color: #018754;
}

.Presidencia {
	color: #c3122f;
	border-color: #c3122f;
}

.SEGOB {
	color: #0181c0;
	border-color: #0181c0;
}

.SSP {
	color: #1a6aa9;
	border-color: #1a6aa9;
}

.PGR {
	color: #03539c;
	border-color: #03539c;
}

.SEDENA {
	color: #02457a;
	border-color: #02457a;
}

.SE {
	color: #019ec1;
	border-color: #019ec1;
}

.SFP {
	color: #00b4cb;
	border-color: #00b4cb;
}

.SEMAR {
	color: #069faf;
	border-color: #069faf;
}

.SHCP {
	color: #01aaa3;
	border-color: #01aaa3;
}

.SRE {
	color: #018a56;
	border-color: #018a56;
}

.SCT {
	color: #6eb140;
	border-color: #6eb140;
}

.SECTUR {
	color: #a1ce67;
	border-color: #a1ce67;
}

.SENER {
	color: #d3d00f;
	border-color: #d3d00f;
}

.SAGARPA {
	color: #d48916;
	border-color: #d48916;
}

.SEDESOL {
	color: #d30f8d;
	border-color: #d30f8d;
}

.SEP {
	color: #f9af42;
	border-color: #f9af42;
}

.SRA {
	color: #f4a024;
	border-color: #f4a024;
}

.STPS {
	color: #e9691e;
	border-color: #e9691e;
}

.SEMARNAT {
	color: #90278e;
	border-color: #90278e;
}

.SALUD {
	color: #eb911f;
	border-color: #eb911f;
}

.Tit_Secretaria {
	color: white;
}

.SRE_b {
	background-color: #018754;
}

.Presidencia_b {
	background-color: #c3122f;
}

.SEGOB_b {
	background-color: #0181c0;
}

.SSP_b {
	background-color: #1a6aa9;
}

.PGR_b {
	background-color: #03539c;
}

.SEDENA_b {
	background-color: #02457a;
}

.SE_b {
	background-color: #019ec1;
}

.SFP_b {
	background-color: #00b4cb;
}

.SEMAR_b {
	background-color: #069faf;
}

.SHCP_b {
	background-color: #01aaa3;
}

.SRE_b {
	background-color: #018a56;
}

.SCT_b {
	background-color: #6eb140;
}

.SECTUR_b {
	background-color: #a1ce67;
}

.SENER_b {
	background-color: #d3d00f;
}

.SAGARPA_b {
	background-color: #d48916;
}

.SEDESOL_b {
	background-color: #d30f8d;
}

.SEP_b {
	background-color: #f9af42;
}

.SRA_b {
	background-color: #f4a024;
}

.STPS_b {
	background-color: #e9691e;
}

.SEMARNAT_b {
	background-color: #90278e;
}

.SALUD_b {
	background-color: #eb911f;
}

#SRE_mas a {
	color: #018754;
}

#Presidencia_mas a {
	color: #c3122f;
	border-color: #c3122f;
}

#SEGOB_mas a {
	color: #0181c0;
	border-color: #0181c0;
}

#SSP_mas a {
	color: #1a6aa9;
	border-color: #1a6aa9;
}

#PGR_mas a {
	color: #03539c;
	border-color: #03539c;
}

#SEDENA_mas a {
	color: #02457a;
	border-color: #02457a;
}

#SE_mas a {
	color: #019ec1;
	border-color: #019ec1;
}

#SFP_mas a {
	color: #00b4cb;
	border-color: #00b4cb;
}

#SEMAR_mas a {
	color: #069faf;
	border-color: #069faf;
}

#SHCP_mas a {
	color: #01aaa3;
	border-color: #01aaa3;
}

#SRE_mas a {
	color: #018a56;
	border-color: #018a56;
}

#SCT_mas a {
	color: #6eb140;
	border-color: #6eb140;
}

#SECTUR_mas a {
	color: #a1ce67;
	border-color: #a1ce67;
}

#SENER_mas a {
	color: #d3d00f;
	border-color: #d3d00f;
}

#SAGARPA_mas a {
	color: #d48916;
	border-color: #d48916;
}

#SEDESOL_mas a {
	color: #d30f8d;
	border-color: #d30f8d;
}

#SEP_mas a {
	color: #f9af42;
	border-color: #f9af42;
}

#SRA_mas a {
	color: #f4a024;
	border-color: #f4a024;
}

#STPS_mas a {
	color: #e9691e;
	border-color: #e9691e;
}

#SEMARNAT_mas a {
	color: #90278e;
	border-color: #90278e;
}

#SALUD_mas a {
	color: #eb911f;
	border-color: #eb911f;
}